<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>PureShot 需要访问您的照片库来识别和清理相似照片，帮助您释放存储空间。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>PureShot 需要保存照片的权限。</string>
</dict>
</plist>
